.banner-menu-section {
  position: relative;

  img {
    display: block;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
  }

  .button-group {
    @include abosolute-position-center;
    max-width: 21.3rem;

    // width: 100%;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // @include flex-perfect-center;

  }

  a {
    @include button-styling;
    padding: $base-spacing;
    font-weight: 300;
    color: map-get($colors, header-text-color);
    border: 1px solid map-get($colors, header-text-color);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

    &:hover {
      background-color: map-get($colors, header-text-color);
      color: map-get($colors, header-bg);
      transform: scale(1.05);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    a {
      padding: $base-spacing $double-spacing;
      font-size: 1.5rem;
    }
  }
}
