nav {
  .item {
    text-align: center;
    width: 30%;
    display: none;
    text-transform: uppercase;

    &:last-of-type a {
      color: map-get($colors, hover-color);
    }

    & a {
      transition: all 0.5s;
    }

    & a:hover,
    & a:focus {
      color: map-get($colors, hover-color);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .nav-list {
      @include flex-layout-row;
      max-width: 50rem;
      @include margin-center;
      .item {
        display: block;
        width: auto;
        @include nav-item-medium-styling;
      }
    }
  }
}
